<h1>Mister Cocktail</h1>
<p>List of all cocktail</p>

<% @cocktails.each do |cocktail| %>
        <p><%= cocktail.name %> </p>
        <% cocktail.doses.each do |dose|  %>
        <%= dose.description %> of <%= dose.ingredient.name %>
        <% end %>
<% end %>

