<h1>Mister Cocktail</h1>
<p>List of all cocktail</p>


<div class = "container">

</div>
<% @cocktails.each do |cocktail| %>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %>  </h2>
        <% cocktail.doses.each do |dose|  %>
        <div class="cocktail_card">
          <p> <%= dose.description %> of <%= dose.ingredient.name %></p>
        </div>
        <% end %>

<% end %>


<p> <%= link_to 'add a new cocktail', new_cocktail_path %></p>
