<div class="container" >
  <div class= "row">
    <div style="height:60vh; margin-top:10vh;"class="col-sm-6">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit "add a cocktail", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
